@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {box-sizing: border-box;}
body {
    font-family: 'Hanken Grotesk', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60vh;
}
main {
	max-width: 350px;
}
.left-side {
	text-align: center;
	background-color: hsl(234, 85%, 45%);
	color: hsl(0, 0%, 100%);
	padding: 1.5rem 2.5rem;
	border-radius: 0 0 1.2rem 1.2rem;
	margin-bottom: 1.5rem;
}
h1 {
	opacity: 0.7;
	margin-bottom: 1rem;
}
.figure {
	background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	/* height: 3rem;
	width: 3rem; */
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	margin-bottom: 2rem;
}
h2 {
	font-size: 2.5rem;
	margin-bottom: 0.75rem;
}
h4 {
	margin-bottom: 1rem;
}
.remark {
	line-height: 1.2;
}

.right-side {
	margin: 0 1.5rem;

}
h3 {
	margin-bottom: 1rem;
	font-weight: 700;
}
.div {
	margin-bottom: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem;
	border-radius: 0.5rem;
}
.inner {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.reaction {background-color: hsla(0, 100%, 67%, 0.1);}
.memory {background-color: hsla(39, 100%, 56%, 0.1);}
.verbal {background-color: hsla(166, 100%, 37%, 0.1);}
.visual {background-color: hsla(234, 85%, 45%, 0.1);}
.btn {
	font-family: 'Hanken Grotesk', sans-serif;
	width: 100%;
	padding: 0.7rem;
	border-radius: 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border: none;
	background-color: hsl(224, 30%, 27%);
	color:  hsl(0, 0%, 100%);
	font-weight: 700;
	font-size: 0.9rem;
	transition: all 0.5s;
}